# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/captures/
/android/keycloak.json
*.apk
*.aab

# macOS related
*.dSYM
*.dSYM.zip
.DS_Store

# Testing related
.test.dart.dart_tool/
.coverage/

# Local configuration files
.local.properties
.env.local
.firebase/

# Temporary files
*.tmp
*.temp
*.swp
*~
thumbs.db
